body {
    margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
    align-items: center;
	background: rgb(42, 43, 63);
	font-family: sans-serif;
}

h1 {
    top: 0;
    margin: 0;
    padding: 3rem 0;
    padding-top: 4rem;
    position: sticky;
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
    background: rgba(0, 155, 116, 0.7);
}



.container {
    width: 40vw;
	padding: 3rem;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	border-radius: 3rem;
	background: rgba(14, 28, 77, 0.352);
}

ul {
    margin: 0;
    gap: 1rem;
    padding: 0;
    display: flex;
    list-style: none;
    place-items: center;
    flex-direction: column;
}

li {
    width: 35rem;
    text-align: center;
    color: #fff;
    border-radius: 3rem;
    background: rgba(0, 155, 116, 0.7);
    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
}

input {
    padding: 5px 3px;
    margin-top: 3rem;
    background-color: rgb(52, 58, 80);
    border-right: none;
    border-bottom: solid 2px #00bf8f;
}

button {
    margin-left: 1rem;
    padding: 5px 3px;
    border-radius: 5px;
    border: solid 1px white;
    background: linear-gradient(to right bottom, rgba(161, 142, 255, 0.44), rgba(255, 255, 255, 0.5));
}